body {
    font-family: 'Manrope', sans-serif;
}

h1 {
    font-size: 44px;
    line-height: 60px;
}

p {
    font-size: 32px;
    line-height: 44px;
}

.counter-box-wrapper {
    width: 100%;
    text-align: center;
    margin: 206px 0 36px;
}

.counter {
    font-size: 32px;
    line-height: 44px;
}

.button-box-wrapper {
    display: flex;
    justify-content:center;
    flex-direction: column;
    gap: 36px;
}


.increase-counter_btn {
    /* text-align: center; */
    
    width: 500px;
    height: 100px;
    margin: 0 auto;
    background-color: rgb(0, 192, 0);
    border-radius: 20px;
    color: rgb(221, 221, 221)
}

.reduce-counter_btn {
    width: 500px;
    height: 100px;
    margin: 0 auto;
    background-color: #4191FF;
    border-radius: 20px;
    border-color: #4191FF;
    color: rgb(221, 221, 221)
}

.reset-counter_btn {
    width: 500px;
    height: 100px;
    margin: 0 auto;
    background-color: #D45366;
    border-radius: 20px;
    color: rgb(221, 221, 221)
}
